<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/index_css.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header> 
            <nav>
                <ul>
                    <li><a href="homepage.html">Homepage</a></li>
                     <li><a href="html/gallery.html">Gallery</a></li>
                      <li><a href="html/background_Story.html">Background Story</a></li>
                       <li><a href="html/venue.html">Venue</a></li>
                        <li><a href="html/RSVP.html">RSVP</a></li>
                </ul>
                
                
            </nav> 
            
         </header>   
        
        <h1 id="main_header">Welcome to Robert Johnson and Naomi Skyler </h1>  
        
        <p>25 December 2020</p>
        <p>Sun City International </p>
        
        <div>
            
            <img src="pictures/banner.jfif" id="banner">
            
        </div>
        
    </body>
</html>
